div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #69a3dd;
    color: #fff;
    border: 6px solid #69a3dd;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
  }