div.grid {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #69a3dd;
    color: #fff;
    border: 6px solid #69a3dd;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
